.slide-frame {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.slides h1, .slides h2, .slides h3 {
  /* width: 100vw;
  height: 100vh; */
  color: #61D9FB;
  text-shadow: 4px 4px 2px #3e7c8d;
}